.project_content {
    margin: auto;
    width: 50%;
    max-width: 500px;
}

.projects {
    background-color: rgb(59, 180, 160);
    border-radius: 7px;
    padding: 10px;
}

.single_project {
    border-radius: 7px;
    margin-bottom: 10px;
    border: 1px solid white;
}

.your_projects_text {
    font-size: 30px;
    margin-left: 20px;
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 10px;
}