.content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

h2 {
    min-width: 400px;
    margin-left: 40px;
    margin-top: 15px;
    margin-bottom: 5px;
}

h4 {
    padding: 0;
    margin: 0;
    margin-bottom: 3px;
    color:rgba(100, 100, 100, 0.7)
}

h3 {
    padding: 0;
    margin: 0;
    margin-bottom: 3px;
    font-weight: normal;
}

.user_data {
    background-color: rgba(230, 230, 230, 0.3);
    border-radius: 15px;
    min-width: 400px;
    min-height: 400px;
    padding: 15px;
    text-align: center;
    font-size: 18px;
}

.no_project_notification {
    color: rgb(150, 150, 150)
}

.create_project_button {
    padding: 0;
    margin: 0;
    border: none;
    background-color: rgba(220, 220, 220, 0);
    border-radius: 15px;
    color:rgb(0, 200, 20);
    margin-bottom: 12px;
    font-weight: bold;
}

.create_project_button:hover {
    color:rgb(0, 175, 20);;
    cursor: pointer;
}


hr {
    padding: 0;
    margin: 0 0 12px 0; 
}